<div class="main-container">
  <div class="register-form-container">
    <form action="">
      <label for="username" class="register-form-input"><input type="text" id="username" placeholder="Username"></label>
      <label for="password" class="register-form-input"><input type="text" id="password" placeholder="Password"></label>
      <label for="name" class="register-form-input"><input type="text" id="name" placeholder="Name"></label>
      <label for="surname" class="register-form-input"><input type="text" id="surname" placeholder="Surname"></label>
      <label for="email" class="register-form-input"><input type="text" id="email" placeholder="Email"></label>
      <label for="phone" class="register-form-input"><input type="text" id="phone" placeholder="Phone"></label>
      <label for="address" class="register-form-input"><input type="text" id="address" placeholder="Address"></label>
      <label for="city" class="register-form-input"><input type="text" id="city" placeholder="City"></label>
      <label for="zip-code" class="register-form-input"><input type="text" id="zip-code" placeholder="Zip-Code"></label>
      <label for="country" class="register-form-input"><input type="text" id="country" placeholder="Country"></label>
      <label for="birthDate" class="register-form-input"><input type="date"  id="birthDate"></label>
      <div class="register-button-container">
      <input type="submit" value="Register" class="register-button">
      </div>
    </form>
  </div>
</div>
